* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background-color: rgb(160, 255, 160);
  padding: 50px;
}

.h1 {
  text-align: center;
  color: rgb(33, 133, 33);
  padding-bottom: 20px;
}

.welcome {
  text-align: center;
  color: rgb(45, 151, 45);
  padding-bottom: 5px;
}

.box {
  position: relative;
  left: 10px;
  /* color: aliceblue; */
  /* margin: 50px; */
  /* padding: 15px; */
  width: 300px;
  height: 150px;
  /* padding: 150px; */
}

.h2 {
  color: black;
  padding-bottom: 7px;
}

.input {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 20px 15px 20px 10px;
  background-color: rgb(214, 252, 225);
}

.sign-player {
  width: 100px;
  align-content: center;
  margin: 10px;
}

.slots {
  width: 300px;
  height: 75px;
  color: black;
  /* border: double; */
}

/* .h2-p {
  color: black;
  padding-bottom: 7px;
  text-align: center;
  padding-left: 300px;
} */

.user-box {
  position: relative;
  left: 600px;
  color: rgb(10, 10, 10);
  margin: 50px;
  /* padding: 75px;
  width: 60px; */
  height: 60px;
}

.user {
  position: center;
  right: 10px;
  position: absolute right;
  width: 300px;
  color: black;
  /* padding: 60px;
  width: 50px;
  height: 40px; */
}
